/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/************************************************************************/
/*	HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
/************************************************************************/
/* line 9, ../sass/boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/boilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/boilerplate.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/boilerplate.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/************************************************************************/
/*	Helper classes
/************************************************************************/
/* line 63, ../sass/boilerplate.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 70, ../sass/boilerplate.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 77, ../sass/boilerplate.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 82, ../sass/boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 94, ../sass/boilerplate.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 103, ../sass/boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 108, ../sass/boilerplate.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 113, ../sass/boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 117, ../sass/boilerplate.scss */
.clearfix {
  *zoom: 1;
}

/************************************************************************/
/*	Sticky Footer
/************************************************************************/
/* line 10, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 54px;
}

/* line 20, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 54px;
}

/************************************************************************/
/*	Colors Vars                                                          
/************************************************************************/
/************************************************************************/
/*	Fonts
/************************************************************************/
@font-face {
  font-family: 'novecento_sans_widelight';
  src: url("../fonts/Novecentosanswide-Light-webfont.eot");
  src: url("../fonts/Novecentosanswide-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Light-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Light-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_widenormal';
  src: url("../fonts/Novecentosanswide-Normal-webfont.eot");
  src: url("../fonts/Novecentosanswide-Normal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Normal-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Normal-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Normal-webfont.svg#novecento_sans_widenormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_widemedium';
  src: url("../fonts/Novecentosanswide-Medium-webfont.eot");
  src: url("../fonts/Novecentosanswide-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Medium-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Medium-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_widebook';
  src: url("../fonts/Novecentosanswide-Book-webfont.eot");
  src: url("../fonts/Novecentosanswide-Book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Book-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Book-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Book-webfont.svg#novecento_sans_widebook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_widedemibold';
  src: url("../fonts/Novecentosanswide-DemiBold-webfont.eot");
  src: url("../fonts/Novecentosanswide-DemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-DemiBold-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-DemiBold-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_wide_bookbold';
  src: url("../fonts/Novecentosanswide-Bold-webfont.eot");
  src: url("../fonts/Novecentosanswide-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Bold-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Bold-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/************************************************************************/
/*	Susy Vars
/************************************************************************/
/************************************************************************/
/*	Grid
/************************************************************************/
/* line 123, ../sass/screen.scss */
.col1 {
  width: 6.69643%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 127, ../sass/screen.scss */
.col2 {
  width: 15.17857%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 131, ../sass/screen.scss */
.col3 {
  width: 23.66071%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 135, ../sass/screen.scss */
.col4 {
  width: 32.14286%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 139, ../sass/screen.scss */
.col5 {
  width: 40.625%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 143, ../sass/screen.scss */
.col6 {
  width: 49.10714%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 147, ../sass/screen.scss */
.col7 {
  width: 57.58929%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 151, ../sass/screen.scss */
.col8 {
  width: 66.07143%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 155, ../sass/screen.scss */
.col9 {
  width: 74.55357%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 159, ../sass/screen.scss */
.col10 {
  width: 83.03571%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 163, ../sass/screen.scss */
.col11 {
  width: 91.51786%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 167, ../sass/screen.scss */
.col12 {
  width: 100%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 171, ../sass/screen.scss */
.alpha {
  margin-left: 0px !important;
}

/* line 175, ../sass/screen.scss */
.omega {
  margin-right: 0px !important;
}

/************************************************************************/
/*	Transition Default
/************************************************************************/
/************************************************************************/
/*	General styles
/************************************************************************/
/* line 14, ../../../../../Bureau/compass.app/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 192, ../sass/screen.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 196, ../sass/screen.scss */
.wrapper {
  position: relative;
  *zoom: 1;
  max-width: 1140px;
  _width: 1140px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1140px;
}
/* line 38, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 202, ../sass/screen.scss */
.left {
  float: left;
}

/* line 206, ../sass/screen.scss */
.right {
  float: right;
}

/* line 210, ../sass/screen.scss */
.centerBloc {
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

/* line 217, ../sass/screen.scss */
p {
  margin: 0 0 15px 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
}

/* line 224, ../sass/screen.scss */
p:last-child {
  margin-bottom: 0px;
}

/* line 228, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #ee3e52;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 233, ../sass/screen.scss */
a:hover {
  text-decoration: none;
  color: #ff576b;
}

/************************************************************************/
/*	H1, H2, H3, H4, H5, H6 styles
/************************************************************************/
/* line 242, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: "novecento_sans_widedemibold", sans-serif;
  text-transform: lowercase;
}

/* line 247, ../sass/screen.scss */
h2 {
  color: #fff;
  background: #222528;
  padding: 0px 20px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin-bottom: 35px;
}
/* line 258, ../sass/screen.scss */
h2 strong {
  color: #0bc0f4;
  font-weight: normal;
}

/************************************************************************/
/*	Buttons styles
/************************************************************************/
/* line 268, ../sass/screen.scss */
.btn, .btn1, .btn2 {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  font-weight: normal;
  font-size: 14px;
  font-family: "novecento_sans_widemedium", sans-serif;
  text-transform: lowercase;
}
/* line 278, ../sass/screen.scss */
.btn:focus, .btn1:focus, .btn2:focus {
  position: relative;
  top: 2px;
}
/* line 283, ../sass/screen.scss */
.btn:active, .btn1:active, .btn2:active {
  position: relative;
  top: 2px;
}

/* line 289, ../sass/screen.scss */
.btn1 {
  color: #fff;
  background: #ee3e52;
}
/* line 294, ../sass/screen.scss */
.btn1:hover {
  background: #ff576b;
  color: #fff;
}

/* line 300, ../sass/screen.scss */
.btn2 {
  color: #ee3e52;
  background: transparent;
  border: 2px solid #ee3e52;
  line-height: 40px;
}
/* line 307, ../sass/screen.scss */
.btn2:hover {
  background: #ff576b;
  border-color: #ff576b;
  color: #fff;
}

/************************************************************************/
/*	#topBar
/************************************************************************/
/* line 317, ../sass/screen.scss */
#topBar {
  height: 44px;
  color: #5b6168;
  background: #222528;
}
/* line 322, ../sass/screen.scss */
#topBar .wrapper {
  padding-left: 185px;
}
/* line 326, ../sass/screen.scss */
#topBar p {
  line-height: 44px;
  margin-bottom: 0px;
}

/************************************************************************/
/*	mainBar
/************************************************************************/
/* line 335, ../sass/screen.scss */
#mainBar {
  height: 94px;
  padding-bottom: 10px;
  background: #fff;
}
/* line 340, ../sass/screen.scss */
#mainBar .wrapper {
  padding-left: 185px;
}
/* line 344, ../sass/screen.scss */
#mainBar #logo {
  position: absolute;
  top: -44px;
  left: 10px;
  display: block;
  width: 125px;
  height: 128px;
  margin: 0px;
  padding: 0px;
  text-indent: -9999px;
  overflow: hidden;
  background: url('../img/logo.png?1393434575');
}
/* line 357, ../sass/screen.scss */
#mainBar #logo a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-indent: -9999;
}
/* line 365, ../sass/screen.scss */
#mainBar #nav {
  height: 84px;
  padding: 40px 0px;
  margin: 0px;
}
/* line 370, ../sass/screen.scss */
#mainBar #nav li {
  margin-right: 30px;
}
/* line 373, ../sass/screen.scss */
#mainBar #nav li a {
  font-family: "novecento_sans_widedemibold", sans-serif;
  text-transform: lowercase;
  color: #222528;
}
/* line 378, ../sass/screen.scss */
#mainBar #nav li a:hover {
  color: #0bc0f4;
}

/************************************************************************/
/*	Slider
/************************************************************************/
/* line 389, ../sass/screen.scss */
#slider {
  margin: 30px 0 40px 0;
}
/* line 392, ../sass/screen.scss */
#slider img {
  width: 100%;
  height: auto;
}

/************************************************************************/
/*	#content
/************************************************************************/
/************************************************************************/
/*  Home
/************************************************************************/
/* line 407, ../sass/screen.scss */
.index #content {
  background: #f2f2f2;
  padding: 50px 0;
}

/************************************************************************/
/*	campaignBloc
/************************************************************************/
/* line 415, ../sass/screen.scss */
.campaignBloc {
  background: #fff;
  overflow: hidden;
  margin-bottom: 1.78571%;
}
/* line 420, ../sass/screen.scss */
.campaignBloc .campaignImage {
  position: relative;
}
/* line 423, ../sass/screen.scss */
.campaignBloc .campaignImage img {
  width: 100%;
  height: auto;
}
/* line 428, ../sass/screen.scss */
.campaignBloc .campaignImage h3 {
  position: absolute;
  bottom: 25px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  color: #222528;
  font-size: 24px;
  text-transform: lowercase;
  font-family: "novecento_sans_widedemibold", sans-serif;
}
/* line 442, ../sass/screen.scss */
.campaignBloc .campaignImage h3 strong.price {
  margin-left: 30px;
  color: #0bc0f4;
  font-weight: normal;
}
/* line 450, ../sass/screen.scss */
.campaignBloc .campaignInfos {
  padding: 25px;
  background: #222528;
}
/* line 454, ../sass/screen.scss */
.campaignBloc .campaignInfos .preOrderQuantity {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0px;
}
/* line 459, ../sass/screen.scss */
.campaignBloc .campaignInfos .preOrderQuantity strong {
  color: #0bc0f4;
  font-size: 22px;
  margin-right: 5px;
  font-weight: bold;
}
/* line 467, ../sass/screen.scss */
.campaignBloc .campaignInfos .percentage {
  color: #0bc0f4;
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 600;
  font-weight: bold;
}
/* line 475, ../sass/screen.scss */
.campaignBloc .campaignInfos .progressBar {
  margin: 10px 0px 20px 0;
  height: 16px;
  width: 100%;
  padding: 2px;
  background-color: #101010;
  position: relative;
  overflow: hidden;
}
/* line 484, ../sass/screen.scss */
.campaignBloc .campaignInfos .progressBar .progressValue {
  height: 12px;
  border: 0px solid #101010;
  background: url('../img/bgProgressBar.png?1393434575') repeat;
}
/* line 491, ../sass/screen.scss */
.campaignBloc .campaignInfos .daysLeft {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 44px;
  margin: 0px;
  padding-left: 22px;
  background: url('../img/icon-daysLeft.png?1393434575') no-repeat left 13px;
}
/* line 501, ../sass/screen.scss */
.campaignBloc .campaignInfos .daysLeft strong {
  color: #0bc0f4;
}

/************************************************************************/
/*	Footer
/************************************************************************/
/* line 513, ../sass/screen.scss */
footer h3 {
  color: #fff;
  font-size: 18px;
  margin: 0 0 15px 0;
}
/* line 519, ../sass/screen.scss */
footer p, footer a, footer li {
  color: #5b6168;
  font-size: 12px;
  font-weight: 500;
}
/* line 525, ../sass/screen.scss */
footer li {
  margin-bottom: 8px;
}
/* line 528, ../sass/screen.scss */
footer li a:hover {
  padding-left: 5px;
}
/* line 533, ../sass/screen.scss */
footer #preFooter {
  background: #101010;
  padding: 35px 0;
}
/* line 538, ../sass/screen.scss */
footer #bigFooter {
  background: #222528;
  padding: 35px 0;
}
/* line 542, ../sass/screen.scss */
footer #bigFooter .widget {
  margin-bottom: 30px;
}
/* line 546, ../sass/screen.scss */
footer #bigFooter #copyright {
  margin-top: 30px;
  border-top: 2px solid #2b2e30;
  padding: 30px 0 0 0;
}
/* line 551, ../sass/screen.scss */
footer #bigFooter #copyright p {
  color: #fff;
  text-align: center;
}
