/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/************************************************************************/
/*	HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
/************************************************************************/
/* line 9, ../sass/_boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/_boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/_boilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/_boilerplate.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/_boilerplate.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/_boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/_boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/************************************************************************/
/*	Helper classes
/************************************************************************/
/* line 63, ../sass/_boilerplate.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 70, ../sass/_boilerplate.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 77, ../sass/_boilerplate.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 82, ../sass/_boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 94, ../sass/_boilerplate.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 103, ../sass/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 108, ../sass/_boilerplate.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 113, ../sass/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 117, ../sass/_boilerplate.scss */
.clearfix {
  *zoom: 1;
}

/************************************************************************/
/*	Fonts
/************************************************************************/
@font-face {
  font-family: 'novecento_sans_widelight';
  src: url("../fonts/Novecentosanswide-Light-webfont.eot");
  src: url("../fonts/Novecentosanswide-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Light-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Light-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_widenormal';
  src: url("../fonts/Novecentosanswide-Normal-webfont.eot");
  src: url("../fonts/Novecentosanswide-Normal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Normal-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Normal-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Normal-webfont.svg#novecento_sans_widenormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_widemedium';
  src: url("../fonts/Novecentosanswide-Medium-webfont.eot");
  src: url("../fonts/Novecentosanswide-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Medium-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Medium-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_widebook';
  src: url("../fonts/Novecentosanswide-Book-webfont.eot");
  src: url("../fonts/Novecentosanswide-Book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Book-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Book-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Book-webfont.svg#novecento_sans_widebook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_widedemibold';
  src: url("../fonts/Novecentosanswide-DemiBold-webfont.eot");
  src: url("../fonts/Novecentosanswide-DemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-DemiBold-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-DemiBold-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'novecento_sans_wide_bookbold';
  src: url("../fonts/Novecentosanswide-Bold-webfont.eot");
  src: url("../fonts/Novecentosanswide-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-Bold-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-Bold-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/************************************************************************/
/*	Sticky Footer
/************************************************************************/
/* line 10, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 54px;
}

/* line 20, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 54px;
}

/************************************************************************/
/*	Colors Vars                                                          
/************************************************************************/
/************************************************************************/
/*	Susy Vars
/************************************************************************/
/************************************************************************/
/*	Transition Default
/************************************************************************/
/************************************************************************/
/*	Grid
/************************************************************************/
/* line 4, ../sass/_grid.scss */
.col1 {
  width: 6.69643%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 8, ../sass/_grid.scss */
.col2 {
  width: 15.17857%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 12, ../sass/_grid.scss */
.col3 {
  width: 23.66071%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 16, ../sass/_grid.scss */
.col4 {
  width: 32.14286%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 20, ../sass/_grid.scss */
.col5 {
  width: 40.625%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 24, ../sass/_grid.scss */
.col6 {
  width: 49.10714%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 28, ../sass/_grid.scss */
.col7 {
  width: 57.58929%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 32, ../sass/_grid.scss */
.col8 {
  width: 66.07143%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 36, ../sass/_grid.scss */
.col9 {
  width: 74.55357%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 40, ../sass/_grid.scss */
.col10 {
  width: 83.03571%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 44, ../sass/_grid.scss */
.col11 {
  width: 91.51786%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 48, ../sass/_grid.scss */
.col12 {
  width: 100%;
  float: left;
  margin-right: 1.78571%;
  display: inline;
}

/* line 52, ../sass/_grid.scss */
.alpha {
  margin-left: 0px !important;
}

/* line 56, ../sass/_grid.scss */
.omega {
  margin-right: 0px !important;
}

/************************************************************************/
/*	General styles
/************************************************************************/
/* line 14, ../../../../../Bureau/compass.app/lib/ruby/compass_extensions/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_layout.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 11, ../sass/_layout.scss */
.wrapper {
  position: relative;
  *zoom: 1;
  max-width: 1140px;
  _width: 1140px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1140px;
}
/* line 38, ../../../../../Bureau/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../sass/_layout.scss */
.left {
  float: left;
}

/* line 21, ../sass/_layout.scss */
.right {
  float: right;
}

/* line 25, ../sass/_layout.scss */
.centerBloc {
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

/* line 32, ../sass/_layout.scss */
p {
  margin: 0 0 15px 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;
}

/* line 39, ../sass/_layout.scss */
p:last-child {
  margin-bottom: 0px;
}

/* line 43, ../sass/_layout.scss */
a {
  text-decoration: none;
  color: #ee3e52;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 48, ../sass/_layout.scss */
a:hover {
  text-decoration: none;
  color: #ff576b;
}

/************************************************************************/
/*	H1, H2, H3, H4, H5, H6 styles
/************************************************************************/
/* line 57, ../sass/_layout.scss */
h1, h2, h3, h4 {
  font-family: "novecento_sans_widedemibold", sans-serif;
  text-transform: lowercase;
}

/* line 62, ../sass/_layout.scss */
h2 {
  color: #fff;
  background: #222528;
  padding: 0px 20px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin-bottom: 35px;
}
/* line 73, ../sass/_layout.scss */
h2 strong {
  color: #0bc0f4;
  font-weight: normal;
}

/************************************************************************/
/*	Buttons styles
/************************************************************************/
/* line 83, ../sass/_layout.scss */
.btn, .btn1, .btn2 {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  font-weight: normal;
  font-size: 14px;
  font-family: "novecento_sans_widemedium", sans-serif;
  text-transform: lowercase;
}
/* line 93, ../sass/_layout.scss */
.btn:focus, .btn1:focus, .btn2:focus {
  position: relative;
  top: 2px;
}
/* line 98, ../sass/_layout.scss */
.btn:active, .btn1:active, .btn2:active {
  position: relative;
  top: 2px;
}

/* line 104, ../sass/_layout.scss */
.btn1 {
  color: #fff;
  background: #ee3e52;
}
/* line 109, ../sass/_layout.scss */
.btn1:hover {
  background: #ff576b;
  color: #fff;
}

/* line 115, ../sass/_layout.scss */
.btn2 {
  color: #ee3e52;
  background: transparent;
  border: 2px solid #ee3e52;
  line-height: 40px;
}
/* line 122, ../sass/_layout.scss */
.btn2:hover {
  background: #ff576b;
  border-color: #ff576b;
  color: #fff;
}

/************************************************************************/
/*	#topBar
/************************************************************************/
/* line 132, ../sass/_layout.scss */
#topBar {
  height: 44px;
  color: #5b6168;
  background: #222528;
}
/* line 137, ../sass/_layout.scss */
#topBar .wrapper {
  padding-left: 185px;
}
/* line 141, ../sass/_layout.scss */
#topBar p {
  line-height: 44px;
  margin-bottom: 0px;
}

/************************************************************************/
/*	mainBar
/************************************************************************/
/* line 150, ../sass/_layout.scss */
#mainBar {
  height: 94px;
  padding-bottom: 10px;
  background: #fff;
}
/* line 155, ../sass/_layout.scss */
#mainBar .wrapper {
  padding-left: 185px;
}
/* line 159, ../sass/_layout.scss */
#mainBar #logo {
  position: absolute;
  top: -44px;
  left: 10px;
  display: block;
  width: 125px;
  height: 128px;
  margin: 0px;
  padding: 0px;
  text-indent: -9999px;
  overflow: hidden;
  background: url('../img/logo.png?1393434575');
}
/* line 172, ../sass/_layout.scss */
#mainBar #logo a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-indent: -9999;
}
/* line 180, ../sass/_layout.scss */
#mainBar #nav {
  height: 84px;
  padding: 40px 0px;
  margin: 0px;
}
/* line 185, ../sass/_layout.scss */
#mainBar #nav li {
  margin-right: 30px;
}
/* line 188, ../sass/_layout.scss */
#mainBar #nav li a {
  font-family: "novecento_sans_widedemibold", sans-serif;
  text-transform: lowercase;
  color: #222528;
}
/* line 193, ../sass/_layout.scss */
#mainBar #nav li a:hover {
  color: #0bc0f4;
}

/************************************************************************/
/*  Footer
/************************************************************************/
/* line 208, ../sass/_layout.scss */
footer h3 {
  color: #fff;
  font-size: 18px;
  margin: 0 0 15px 0;
}
/* line 214, ../sass/_layout.scss */
footer p, footer a, footer li {
  color: #5b6168;
  font-size: 12px;
  font-weight: 500;
}
/* line 220, ../sass/_layout.scss */
footer li {
  margin-bottom: 8px;
}
/* line 223, ../sass/_layout.scss */
footer li a:hover {
  padding-left: 5px;
}
/* line 228, ../sass/_layout.scss */
footer #preFooter {
  background: #101010;
  padding: 35px 0;
}
/* line 233, ../sass/_layout.scss */
footer #bigFooter {
  background: #222528;
  padding: 35px 0;
}
/* line 237, ../sass/_layout.scss */
footer #bigFooter .widget {
  margin-bottom: 30px;
}
/* line 241, ../sass/_layout.scss */
footer #bigFooter #copyright {
  margin-top: 30px;
  border-top: 2px solid #2b2e30;
  padding: 30px 0 0 0;
}
/* line 246, ../sass/_layout.scss */
footer #bigFooter #copyright p {
  color: #fff;
  text-align: center;
}

/************************************************************************/
/*	Slider
/************************************************************************/
/* line 4, ../sass/_home.scss */
#slider {
  margin: 30px 0 40px 0;
}
/* line 7, ../sass/_home.scss */
#slider img {
  width: 100%;
  height: auto;
}

/************************************************************************/
/*	#content
/************************************************************************/
/************************************************************************/
/*  Home
/************************************************************************/
/* line 22, ../sass/_home.scss */
.index #content {
  padding: 50px 0;
}

/* line 25, ../sass/_home.scss */
.grayBackground {
  background: #f2f2f2;
}

/************************************************************************/
/*	campaignBloc
/************************************************************************/
/* line 32, ../sass/_home.scss */
.campaignBloc {
  background: #fff;
  overflow: hidden;
  margin-bottom: 1.78571%;
}
/* line 37, ../sass/_home.scss */
.campaignBloc .campaignImage {
  position: relative;
}
/* line 40, ../sass/_home.scss */
.campaignBloc .campaignImage img {
  width: 100%;
  height: auto;
}
/* line 45, ../sass/_home.scss */
.campaignBloc .campaignImage h3 {
  position: absolute;
  bottom: 25px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  color: #222528;
  font-size: 24px;
  text-transform: lowercase;
  font-family: "novecento_sans_widedemibold", sans-serif;
}
/* line 59, ../sass/_home.scss */
.campaignBloc .campaignImage h3 strong.price {
  margin-left: 30px;
  color: #0bc0f4;
  font-weight: normal;
}
/* line 67, ../sass/_home.scss */
.campaignBloc .campaignInfos {
  padding: 25px;
  background: #222528;
}
/* line 71, ../sass/_home.scss */
.campaignBloc .campaignInfos .preOrderQuantity {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0px;
}
/* line 76, ../sass/_home.scss */
.campaignBloc .campaignInfos .preOrderQuantity strong {
  color: #0bc0f4;
  font-size: 22px;
  margin-right: 5px;
  font-weight: bold;
}
/* line 84, ../sass/_home.scss */
.campaignBloc .campaignInfos .percentage {
  color: #0bc0f4;
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 600;
  font-weight: bold;
}
/* line 92, ../sass/_home.scss */
.campaignBloc .campaignInfos .progressBar {
  margin: 10px 0px 20px 0;
  height: 16px;
  width: 100%;
  padding: 2px;
  background-color: #101010;
  position: relative;
  overflow: hidden;
}
/* line 101, ../sass/_home.scss */
.campaignBloc .campaignInfos .progressBar .progressValue {
  height: 12px;
  border: 0px solid #101010;
  background: url('../img/bgProgressBar.png?1393434575') repeat;
}
/* line 108, ../sass/_home.scss */
.campaignBloc .campaignInfos .daysLeft {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 44px;
  margin: 0px;
  padding-left: 22px;
  background: url('../img/icon-daysLeft.png?1393434575') no-repeat left 13px;
}
/* line 118, ../sass/_home.scss */
.campaignBloc .campaignInfos .daysLeft strong {
  color: #0bc0f4;
}

/* line 1, ../sass/_campaignAdd.scss */
.campaignAdd #content {
  padding-bottom: 100px;
}

/*	StatusBar */
/* line 7, ../sass/_campaignAdd.scss */
#campaignStatus {
  padding: 50px 0 30px 0;
  margin-bottom: 45px;
}
/* line 11, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar {
  position: relative;
  height: 15px;
  width: 100%;
  background: #929da8;
}
/* line 17, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusBarProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  background: #ee3e52;
}
/* line 26, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStep {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #929da8;
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  top: -12px;
  text-align: center;
  cursor: pointer;
}
/* line 39, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStepActive {
  background: #ee3e52;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 43, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStepActive:hover {
  background: #ff576b;
}
/* line 48, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStep1 {
  left: -5px;
}
/* line 51, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStep2 {
  left: 48.0%;
}
/* line 54, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStep3 {
  right: -5px;
}
/* line 57, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStepText {
  position: absolute;
  top: 40px;
  cursor: pointer;
  color: #ee3e52;
  font-size: 16px;
  font-family: "novecento_sans_widedemibold", sans-serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 66, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStepText:hover {
  color: #ff576b;
}
/* line 70, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStepText1 {
  z-index: 10;
  left: 0;
}
/* line 74, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStepText2 {
  position: relative;
  z-index: 5;
  display: block;
  text-align: center;
}
/* line 80, ../sass/_campaignAdd.scss */
#campaignStatus .statusBar .statusStepText3 {
  z-index: 10;
  right: 0;
}

/*	SideBar */
/* line 89, ../sass/_campaignAdd.scss */
#campaignConfig {
  padding-bottom: 20px;
}
/* line 92, ../sass/_campaignAdd.scss */
#campaignConfig h2 {
  position: relative;
  width: 100%;
  margin-bottom: 0px;
}
/* line 96, ../sass/_campaignAdd.scss */
#campaignConfig h2:nth-child(n+2) {
  margin-top: 20px;
}
/* line 99, ../sass/_campaignAdd.scss */
#campaignConfig h2 span {
  float: right;
  color: #0bc0f4;
  font-size: 32px;
}
/* line 105, ../sass/_campaignAdd.scss */
#campaignConfig .btn1 {
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
/* line 112, ../sass/_campaignAdd.scss */
#campaignConfig .fpd-content {
  background: #fff;
  padding: 0 20px 20px 20px;
}
/* line 116, ../sass/_campaignAdd.scss */
#campaignConfig .fpd-content h3 {
  padding: 20px 0 10px 0;
  font-size: 14px;
  font-family: "novecento_sans_widedemibold", sans-serif;
}
/* line 121, ../sass/_campaignAdd.scss */
#campaignConfig .fpd-content .fpd-products {
  background: #f2f2f2;
  margin-top: 10px;
}
/* line 125, ../sass/_campaignAdd.scss */
#campaignConfig .fpd-content .fpd-products li img {
  background: #fff;
}
/* line 129, ../sass/_campaignAdd.scss */
#campaignConfig .fpd-content .infoMsg {
  color: #ee2c3a;
}
/* line 132, ../sass/_campaignAdd.scss */
#campaignConfig .fpd-content .fpd-textarea {
  width: 60%;
  height: 40px;
  background: #f2f2f2;
  border: none;
  color: #0bc0f4;
  font-size: 16px;
  padding: 10px 5px;
  font-weight: bold;
}
/* line 142, ../sass/_campaignAdd.scss */
#campaignConfig .fpd-content .fpd-submit {
  height: 40px;
  margin-left: 15px;
}
/* line 147, ../sass/_campaignAdd.scss */
#campaignConfig .sideContent {
  background: #fff;
  padding: 20px;
}
/* line 151, ../sass/_campaignAdd.scss */
#campaignConfig .ui-slider {
  position: relative;
  border: none;
  background: #f2f2f2;
  height: 7px;
  border-radius: 10px;
}
/* line 158, ../sass/_campaignAdd.scss */
#campaignConfig .ui-slider-handle {
  position: absolute;
  top: -4px;
  z-index: 2;
  width: 15px;
  height: 15px;
  margin-left: -10px;
  background: #fff;
  border: 5px solid #ee2c3a;
  border-radius: 15px;
  -webkit-transition: none;
  transition: none;
}
/* line 171, ../sass/_campaignAdd.scss */
#campaignConfig .ui-slider-range {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  border-radius: 15px;
  background: #ee2c3a;
}
/* line 179, ../sass/_campaignAdd.scss */
#campaignConfig #productNumberSlider, #campaignConfig #productPriceSlider {
  margin-top: 20px;
}
/* line 181, ../sass/_campaignAdd.scss */
#campaignConfig #productNumberSlider span, #campaignConfig #productPriceSlider span {
  position: absolute;
  top: -25px;
  font-size: 13px;
  color: #ee2c3a;
  font-weight: bold;
}
/* line 190, ../sass/_campaignAdd.scss */
#campaignConfig #configGoal span.infos {
  margin-top: 15px;
  color: #222528;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
}
/* line 197, ../sass/_campaignAdd.scss */
#campaignConfig #configGoal span.infos span {
  font-size: 24px;
  color: #0bc0f4;
}
/* line 201, ../sass/_campaignAdd.scss */
#campaignConfig #configGoal span.infos input {
  width: 50px;
  margin-left: 10px;
  text-align: right;
  background: #f2f2f2;
  color: #ee2c3a;
  font-weight: bold;
  border: none;
  padding: 5px 2px;
}
/* line 212, ../sass/_campaignAdd.scss */
#campaignConfig #configGoal p {
  margin-top: 15px;
  color: #5b6168;
  font-size: 13px;
}

/*	Design */
/* line 225, ../sass/_campaignAdd.scss */
#campaignDesign .fpd-main-color {
  background: #222528;
  color: #fff;
}
/* line 229, ../sass/_campaignAdd.scss */
#campaignDesign .fpd-main-color h3 {
  font-size: 18px;
}
